<p id="notice"><%= notice %></p>

<h1>Qkls</h1>

<table>
  <thead>
    <tr>
      <th>Xuexi</th>
      <th>Jianxing</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @qkls.each do |qkl| %>
      <tr>
        <td><%= qkl.xuexi %></td>
        <td><%= qkl.jianxing %></td>
        <td><%= pluralize(qkl.votes.count,"vote") %></td>
        <td><%= button_to '+1',upvote_qkl_path(qkl),method: :post %></td>
        <td><%= link_to 'Show', qkl %></td>
        <td><%= link_to 'Edit', edit_qkl_path(qkl) %></td>
        <td><%= link_to 'Destroy', qkl, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Qkl', new_qkl_path %>
