<p id="notice"><%= notice %></p>

<p>
  <strong>Xuexi:</strong>
  <%= @qkl.xuexi %>
</p>

<p>
  <strong>Jianxing:</strong>
  <%= @qkl.jianxing %>
</p>

<%= link_to 'Edit', edit_qkl_path(@qkl) %> |
<%= link_to 'Back', qkls_path %>
